@{
    ViewData["Title"] = "Chatter";
}
<div class="container">
    <h2>Global chat</h2>
    <div class="row" />
    <div class="details form-group">
        <label for="textArea" class="col-lg-1 control-label">User</label>
        <input type="text" id="userInput" class="form-control" />
        <br />
        <label for="textArea1" class="col-lg-1">Message</label>
        <input type="text" class="form-control" id="messageInput" />
        <br />
        <input class="btn btn-primary" type="button" id="sendButton" value="Send Message" />
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Home/Chatter").build();

    //Disable send button until connection is established
    //document.getElementById("sendButton").disabled = true;

    connection.on("ReceiveMessage", function (user, message) {
        var userNameElem = document.createElement("b");
        userNameElem.appendChild(document.createTextNode(user + ': '));

        var elem = document.createElement("p");
        elem.appendChild(userNameElem);
        elem.appendChild(document.createTextNode(message));
        var firstElem = document.getElementById("messagesList").firstChild;
        document.getElementById("messagesList").insertBefore(elem, firstElem);
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        var msg = "";
        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
</script>
